<?php //TODO: Expand this; add 'themes', etc. ?>
<!DOCTYPE html>
<html>
  <head>
    <title>{{@page_title}}</title>
    <meta charset='utf8' />
    <?php //TODO: automate loading of CSS/JS w/ PHP/RequireJS; move these to a better place ?>

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/ui-darkness/jquery-ui-1.9.0.custom.min.css" />
    <link rel="stylesheet" type="text/css" href="/assets/js/TableTools/media/css/TableTools.css" />

    <link rel="stylesheet" type="text/css" href="/assets/js/CodeMirror/lib/codemirror.css">
    <link rel="stylesheet" type="text/css" href="/assets/js/CodeMirror/theme/lesser-dark.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/squerly.css">

    <?php //Temporary Styles ?>
    <style type='text/css'>
      table.dataTable tr.odd { background-color: #F5F5F5; }
      table.dataTable tr.odd td.sorting_1,
      table.dataTable tr.odd td.sorting_2,
      table.dataTable tr.odd td.sorting_3 { background-color: #ACACAC; }

      table.dataTable tr.even { background-color: #E6E6E6; }
      table.dataTable tr.even td.sorting_1, 
      table.dataTable tr.even td.sorting_2,
      table.dataTable tr.even td.sorting_3 { background-color: #DDDDDD; }

      a.ui-button { padding: 2px !important; margin: 0px !important; }
    </style>

    {{@styles}}

    <!-- JS -->
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.22/jquery-ui.min.js"></script>

    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="/assets/js/TableTools/media/js/TableTools.js"></script>
    <script type="text/javascript" src="/assets/js/TableTools/media/js/ZeroClipboard.js"></script>
    <script type="text/javascript" src="/assets/js/jQuery.unserializeForm.js"></script>
    <script type="text/javascript" src="/assets/js/squerly.js"></script>

    <script type="text/javascript" src="/assets/js/CodeMirror/lib/codemirror.js"></script>
    <script type="text/javascript" src="/assets/js/CodeMirror/addon/edit/matchbrackets.js"></script>
    <script type="text/javascript" src="/assets/js/CodeMirror/mode/mysql/mysql.js"></script>
    <script type="text/javascript" src="/assets/js/CodeMirror/mode/clike/clike.js"></script>
    <script type="text/javascript" src="/assets/js/CodeMirror/mode/php/php.js"></script>

    <script type="text/javascript">
       $(function() {

          //TODO: this is temporary until I have time for a better solution
          if($('#report_query_input')[0]) {
             CodeMirror.fromTextArea($('#report_query_input')[0], { 
                mode: 'mysql', theme: 'lesser-dark', lineNumbers: true, tabSize: 2, indentWithTabs: false, lineWrapping: true
             });
          }
          if($('#report_postprocess_code_input')[0]) {
             CodeMirror.fromTextArea($('#report_postprocess_code_input')[0], { 
                mode: 'php', theme: 'lesser-dark', lineNumbers: true, tabSize: 2, indentWithTabs: false, lineWrapping: true, matchBrackets: true
             });
          }
       });
    </script>

    {{@scripts}}

  </head>
  <body>
    {{@header}}
    <div id='title_div'><h1 style='margin: 5px;'>{{@title}}</h1></div>
    {{@flash_msgs}}
    {{@navigation}}
    <hr>
    {{@form}}
    {{@pagination}}
    {{@content}}
    {{@footer}}

      <script type='application/x-javascript'>
        $(document).ready(function() {
          $('.datatable').dataTable({
            "bJQueryUI"      : true,
            "sPaginationType": "full_numbers",
            "sDom"           : 'T<"clear">lfrtip',
            "oTableTools"    : { "sSwfPath": "/assets/js/TableTools/media/swf/copy_csv_xls_pdf.swf" },
            "iDisplayLength" : 50,
            "aaSorting"      : [],    //initial sort columns
            "oLanguage"      : { "sInfoFiltered" : "" }
          });
        });
      </script>
    </body>
</html>
