body { 
  font-size:14px; font-family:"Lucida Grande", Verdana, Arial, Helvetica, sans-serif; 
}
h2 {
  margin:0px !important
}
#page_title_div { 
  text-align:center; 
}
#expand_form_div { 
  margin-right:10px; float:right; white-space:nowrap; cursor:pointer; background-color: #EEEEEE;
}
#form_div { 
  clear:both; padding-bottom:15px; margin-left:10px; margin-right:10px; background-color:#BBBBBB; border-radius:10px; -moz-border-radius:10px
}
#form_div div, #form_div form {
  padding-left:10px; margin-top:10px; margin-bottom:0px !important; padding-bottom:0px !important;
}
#report_form input {
  margin-bottom:10px;
}
#report_results { 
  height:90%; width:100%; 
}
#report_form {
  margin:0px;
}
#navigation_div {
  margin:0px !important;
}