; F3 Configuration
[globals]
DEBUG=3 ; Debug Level
UI="views" ; Path to view files
AUTOLOAD="lib/|vendor/|inc/|helpers/"
IMPORTS="views/"
; CACHE=TRUE
; PLUGINS=''

; Squerly Application Configuration
PAGE_TITLE_BASE=" - Squerly(tm)"
URL_BASE_PATH="/" ; Base path for all Squerly requests
RECORDS_PER_PAGE=25 ; Used for pagination
DEFAULT_MODEL="article" ; Default model/table name for CRUD
CSRF_EXPIRY_HOURS=8 ; Number of hours the CSRF tokens remain valid

//Array of data models that may be accessed through CRUD routing interface
MODEL_WHITELIST[Article]="article"
MODEL_WHITELIST[Report]="report"
MODEL_WHITELIST[Report Configuration]="report_config"
MODEL_WHITELIST[Report Set]="report_set"

MODEL_WHITELIST[Test Table]="test_table"
MODEL_WHITELIST[Users]="user"

